<div class="row">	
	<ul class="list-group col-md-4">
	  
	  <% @product.attributes.each do |k, v| %>
	  	<%= if k != "category_id"
	  	content_tag(:li, class: "list-group-item") { 
		  	concat content_tag(:h4, StringsHelper::prettify(k), class: "list-group-item-heading")
		  	concat content_tag(:p, StringsHelper::prettify(v), class: "list-group-item-text")
	  	}
		else
		link_to(category_path(@product.category), class: "list-group-item active") {
			concat content_tag(:h4, "Category", class: "list-group-item-heading")
			concat content_tag(:p, @product.category.name, class: "list-group-item-text")
		}
	  	end  
	  		
	  	%>
	  <% end %>
	</ul>
</div>
<div class="row">
	<%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-primary" %>
	<%= link_to 'Back', products_path, :class => "btn btn-default" %>
</div>
